img {
margin-left: 50px;
}
body {
    font-family: sans-serif;
    background-color:#ffd6b3;
}
h1 {
    color:#b34d00;
    text-align: center;
}
h2 {
    color: green;
    text-align: center;
}
footer {
    font-size: 0.8em;
    margin: 20px;
     text-align: center;
     background-color:green;
     color: white;
     padding: 10px;
}
.quote {
    font-style: italic;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.caption {
    color: indigo;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    margin-top: 5px;
}
main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color:#ffe2cc;
    padding: 5%;
}
#fullWidth {
    width: 100%;
}